<!DOCTYPE html>
<html lang="en">

<head>
    <title>Leave Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" src="/static/index.css">
    <script src="/static/index.js"></script>
    <style>
        @import url("http://fonts.googleapis.com/css?family=Heebo:400,300,700");

        body {
            font-family: 'Heebo', sans-serif !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Leave Management System</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          </ul>
        </div>
      </nav>

    <div class="container-fluid" style="margin-top: 90px; padding-right:30px;">
        <div class="row">
	<h1 align="center">All Leave Queries</h1>
            <div class="col-md-12">
                <div class="row">
                    <div class="signup-form">
                    <form method="POST" action="{{ url_for('all')}}">
                       <table class="table table-striped table-condensed">
                        <thead>
                            <td><p class="h4"><strong>S. NO.</strong></p></td>
                            <td><p class="h4"><strong>NAME</strong></p></td>
                            <td><p class="h4"><strong>DESIGNATION</strong></p></td>
                            <td><p class="h4"><strong>TYPE</strong></p></td>
                            <td><p class="h4"><strong>EMAIL</strong></p></td>
                            <td><p class="h4"><strong>REASON</strong></p></td>
                        </thead>
                       
                       {% for row in rows %}
                        <tr>
                            <td><p>ID 0{{row["id"]}}</p></td>
                            <td>{{row["fname"]}}</td>
                            <td>{{row["designation"]}}</td>
                            <td>{{row["type"]}}</td>
                            <td>{{row["email"]}}</td>
			    <td>{{row["reason"]}}</td>
			    <td><p class="h4"><span><a class="glyphicon glyphicon-ok" href="mailto:mailto:{{row['email']}}?subject=Your Leave has been approved.&body=Hi,Your recent query regarding leave was approved"></a></span></p></td>
                            <td><p class="h4"><span><a class="glyphicon glyphicon-remove" href="{{ url_for('delete',sl=row['id'],)}}"></a></span></p></td>
			</tr>
                        {% endfor %}
                    </table>
                </form>  
            </div>
            </div>
        </div>
   </div> 
   </div>  
</body>
</html>